.modal-content  {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.modal-body {
  text-align: center !important;
  font-size: 15px;
  font-weight: bolder;
}
.modal-body hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}
.modal-width {
  width: 300px;
}
table tr .left {
  float: left;
  border: 0 !important;
}
table .right {
  float: right;
  border: 0 !important;
}
table .center {
  border: 0 !important;
}
.modal-footer {
  padding-top: 5px !important;
  border-top: 0 none;
  text-align: center !important;
}
.modal-footer button {
  font-weight: bolder;
  width: 130px;
  height: 35px;
}
