.col-lg-12 .form-div {
    margin-left: 10px;
}

.col-lg-12 .bg-div {
    background: white;
    border-radius: 10px;
    width: auto;
}

.col-lg-12 .form-group {
    /* margin: 0 0 0 35px; */
    padding: 15px 0 15px 0;
}

.col-lg-12 .first-div {
    padding: 20px;
}

.form-group input {
    border-radius: 5px;
}

.form-group .mr-2 button{
    background: #6c757d;
    color: white;
}
.bg-div {
    margin-top: 10px;
}

.form-control {
  border-radius: 5px !important;
}

.bg-div .close {
    display: none;
}

.bg-div .close i {
    float: right;
    color: red;
    padding: 10px 10px 0 0;
    cursor: pointer;
}

.bg-div .error {
    color: red;
    display: none;
    font-size: 12px;
    padding-top: 10px;
}
.custom label {
  padding: 0 0 5px 5px;
  font-size: 12px;
}

.col-sm-3 label {
  padding: 0 0 5px 5px;
  font-size: 12px;
}

label {
  font-weight: normal !important;
}

@-moz-document url-prefix() {
  .custom .form-control {
    padding-right: 25px;
    background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
           height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    appearance: none;
  }
}

.alert {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.col-sm-4 .mr-2 {
    margin: 0 22px 0 42px;
}
.col-sm-4 input[type=submit] {
  padding-top: 2px !important;
  width: 120px;
}
.col-sm-4 button {
  padding-top: 4px !important;
}

.form-div h4 {
  padding-bottom: 10px;
}
